<!DOCTYPE html>
<html lang="es">

</html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/login.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8" />
  <title>ForumGames</title>

</head>

<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <!--<i class="fa fa-cab" style="font-size:48px;"></i>-->
        <img src="../images/logo.png" width="150px" />
      </div>

      <!-- Login Form -->
      <form method="POST">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="usuario">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="contraseña">
        <input type="button" class="fadeIn fourth" value="Log In" id="go">

        <div id="error" class="alert alert-danger fade-in">
          <strong>¡ERROR!</strong> Usuario y/o contraseña incorrectos.
        </div>
      </form>

    </div>
  </div>
  <script src="../js/login.js"></script>
</body>

</html>