<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/user.css">
    <meta charset="UTF-8" />
    <title>ForumGames</title>
</head>

<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <div class="container bootdey flex-grow-1 container-p-y">

        <div class="media align-items-center py-3 mb-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt=""
                class="d-block ui-w-100 rounded-circle">
            <div class="media-body ml-4">
                <h4 class="font-weight-bold" id="firstname">Firstname and Surname <span class="text-muted font-weight-normal">@username</span>
                </h4>
                <a href="./editProfile.html" class="btn btn-primary btn-sm">Editar Perfil</a>&nbsp;
                <a href="./editProfile.html" class="btn btn-dark btn-sm">Salir</a>&nbsp;
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <table class="table user-view-table m-0">
                    <tbody>
                        <tr>
                            <td>Registrado:</td>
                            <td>00/00/0000</td>
                        </tr>
                        <tr>
                            <td>Publicaciones subidas:</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Rol:</td>
                            <td>User</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="border-light m-0">
            <div class="table-responsive">
                <table id="results" class="table">
                    <tbody class="thead-dark">
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Fecha de lanzamiento</th>
                            <th>Peso</th>
                            <th>Multijugador</th>
                            <th>Editar</th>
                        </tr>
                    </tbody>
                </table>
                <script src="../js/user.js"></script>
            </div>
        </div>

    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>